.projects {
    height: -webkit-fill-available;
    padding: 0 0 16px 0;
    background-color: rgba(236, 224, 208, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.featured-projects {
    display: flex;
    flex-direction: column;
    align-items: start;

    >div {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    >h3 {
        color: #9d5977;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 21px;
    }

    >h1 {
        font-weight: 700;
        font-size: 64px;
        letter-spacing: 3%;
        color: #9d5977;
        margin-bottom: 41px;
    }

    >p {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 41px;
    }
}

.project-list {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 32px;
    width: 880px;

    >h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }

    &:hover {
        background-color: rgb(157, 89, 119, 0.05);
        cursor: pointer;
    }

    .tech {
        display: flex;
        gap: 12px; // Abstand zwischen Items
        font-size: 18px;
        line-height: 120%;

        span {
            position: relative;

            &::before {
                content: "|";
                margin-right: 12px;
                color: #9d5977;
            }

            &:first-child::before {
                content: ""; // Kein Strich vor dem ersten Element
            }
        }
    }
}

.border {
    border-top: #9d5977 1px solid;
    border-bottom: #9d5977 1px solid;
}

.border-bottom {
    border-bottom: #9d5977 1px solid;
}

.project-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 92px;
    width: fit-content;
    transition: opacity 0.25s ease;
    opacity: 0;

    >img {
        width: 295px;
        height: 192px;
        border-radius: 16px;
        z-index: 2 !important;
    }

    &::after {
        position: absolute;
        z-index: 1 !important;
        content: "";
        width: 295px;
        height: 192px;
        background: repeating-linear-gradient(135deg,
                transparent 0px,
                transparent 10px,
                #9d5977 10px,
                #9d5977 12px);
    }

}

.pokedex {
    margin-top: -100px;
     &::after {
        top: 20px;
        right: -20px;
    }

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
    }

}

.join {
    margin-top: -30px;

    &::after {
        top: 20px;
        right: -20px;
    }

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
    }

}

.instagram {
    margin-top: -80px;

    &::after {
        top: 20px;
        right: -20px;
    }

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
    }

}

.elpollo{
    margin-top: -90px;

    &::after {
        top: 20px;
        right: -20px;
    }

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
    }

}