.about-me {
    height: -webkit-fill-available;
    background-color: rgb(236, 224, 208);
    width: -webkit-fill-available;
    padding: 100px 96px 100px 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.photo {
    position: relative;
    display: inline-block;
    z-index: 0; // Basis
    margin-bottom: 140px;

    >img {
        position: relative;
        display: block;
        width: 566px;
        height: 566px;
        border-radius: 30px;
        border: 1px solid #9d5977;
        z-index: 2; // Bild liegt ganz oben
        background: linear-gradient(204deg,
                rgb(236, 224, 208) 50%,
                rgba(0, 0, 0, 0.075));
    }
}

.photo::before {
    content: "";
    position: absolute;
    z-index: 1; // zwischen Container (0) und Bild (2)
    pointer-events: none;

    /* ⬇️ hier legst du fest, wo die Linien sitzen sollen */
    left: -46px; // etwas aus dem Bild nach links raus
    bottom: -30px; // etwas nach unten raus
    width: 100%; // nicht volle Breite
    height: 100%;
    border-radius: 30px; // nicht volle Höhe

    background: repeating-linear-gradient(45deg,
            transparent 0px,
            transparent 30px,
            #9d5977 30px,
            #9d5977 32px);
    opacity: 0;
    transition: opacity 0.35s ease;
}

/* Hover zeigt das Muster */
.photo:hover::before {
    opacity: 1;
}

.about-me-content {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    >p {
        font-weight: 500;
        font-size: 24px;
        font-style: medium;
        line-height: 100%;
    }
}

.about-me-box {
    width: 566px;
    height: 566px;
    border-radius: 30px;
    border: 1px solid #9d5977;
    background-color: rgb(157, 89, 119, 0.1);
    padding: 32px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;

    >h1 {
        font-weight: 700;
        color: #9d5977;
        font-size: 64px;
        letter-spacing: 3;
        line-height: 100%;
    }

    >h3 {
        font-size: 18px;
        font-weight: 400;
        color: black
    }
}

.about-me-divs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    >img {
        width: 32px;
        height: 32px;
    }

    >p {
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        color: rgba(0, 0, 0, 0.7)
    }

    &:hover {
        cursor: default;

        >p {
            color: rgba(0, 0, 0, 1);
        }
    }


}