<section class="contact">
    <div class="contact-div">
        <div class="contact-box">
            <div class="frame-1">
                <p class="karla">{{ 'contact.sectionLabel' | translate }}</p>
                <h2 class="fira">Let’s work together</h2>
            </div>
            <div class="frame-2">
                <h3 class="fira">{{ 'contact.introLabel' | translate }}</h3>
                <p class="karla">{{ 'contact.description' | translate }} <br> {{ 'contact.description2' | translate }}
                </p>
                <p class="karla">{{ 'contact.hint' | translate }} <span class="pink karla">Let's talk!</span></p>
            </div>
        </div>
        <div class="contact-form">
            <div class="form-box">
                <form #contactForm="ngForm" class="contact-form" (ngSubmit)="onSubmit(contactForm)">
                    <div class="field">
                        <label class="fira">{{ 'contact.name' | translate }}</label>
                        <input #name="ngModel" name="name" [(ngModel)]="contactData.name" class="karla" type="text"
                            required minlength="4" pattern=".*[A-Za-zÄÖÜäöüß].*[A-Za-zÄÖÜäöüß].*"
                            (focus)="nameFocused = true"
                            (blur)="nameFocused = false; contactData.name = contactData.name.trim()"
                            [placeholder]="'contact.placeholderName' | translate" />
                        @if (!nameFocused && submitAttempted && name.invalid) {
                        <small class="hint karla">
                            @if (name.errors?.['required']) {
                            {{ 'contact.hintName' | translate }}
                            } @else if (name.errors?.['minlength']) {
                            {{ 'contact.hintNameMinlength' | translate }}
                            } @else if (name.errors?.['pattern']) {
                            {{ 'contact.hintNamePattern' | translate }}
                            }
                        </small>
                        }
                    </div>
                    <div class="field">
                        <label class="fira">{{ 'contact.mail' | translate }}</label>
                        <input #email="ngModel" name="email" [(ngModel)]="contactData.email" class="karla" type="email"
                            required
                            pattern="^[a-zA-Z0-9](?!.*\.\.)(?!.*@@)[a-zA-Z0-9._%+\-]{0,63}@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)+$"
                            (focus)="emailFocused = true" (blur)="emailFocused = false"
                            [placeholder]="'contact.placeholderMail' | translate" />
                        @if (!emailFocused && submitAttempted && email.invalid) {
                        <small class="hint karla">
                            @if (email.errors?.['required']) {
                            {{ 'contact.hintMail' | translate }}
                            } @else if (email.errors?.['pattern'] || email.errors?.['email']) {
                            {{ 'contact.hintMailInvalid' | translate }}
                            }
                        </small>
                        }
                    </div>
                    <div class="field field-message">
                        <label class="fira">{{ 'contact.text' | translate }}</label>
                        <textarea minlength="10" #message="ngModel" name="message" [(ngModel)]="contactData.message"
                            class="textfield karla" required (focus)="messageFocused = true"
                            (blur)="messageFocused = false"
                            [placeholder]="'contact.placeholderText' | translate"></textarea>
                        @if (!message.valid && submitAttempted && !messageFocused) {
                        <small class="hint texterea-hint karla">{{ 'contact.hintText' | translate }}</small>
                        }
                    </div>
                    <div class="form-check">
                        <div class="privacy">
                            <input type="checkbox" name="privacy" [(ngModel)]="contactData.privacy" #privacy="ngModel"
                                required hidden />

                            <div class="check-box" (click)="privacy.control.setValue(!privacy.value)">
                                @if (!privacy.value) {
                                <img src="./../../assets/icons/square-regular-full.svg" alt="">
                                }
                                @if (privacy.value) {
                                <img src="./../../assets/icons/square-check-regular-full.svg" alt="">
                                }
                            </div>
                            <div class="check-box-text">
                                <p class="karla privacy-text">
                                    {{ 'contact.privacy' | translate }}
                                    <a href="/privacy-policy" class="link fira"
                                        aria-label="Datenschutzerklärung öffnen">
                                        {{ 'contact.privacy2' | translate }}</a>
                                </p>
                            </div>

                            @if (!privacy.valid && submitAttempted) {
                            <p class="karla error">{{ 'contact.hintPrivacy' | translate }}</p>
                            }
                        </div>
                        <div class="submit-box">
                            <button type="submit" class="button">
                                <span class="button-text">Say Hello ;)</span>
                            </button>
                        </div>
                        @if (messageSent) {
                        <div class="success-toast karla">
                            {{ 'contact.success' | translate }}
                        </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>