.footer {
    padding: 0px 96px 64px 96px;
    background-color:  rgba(236, 224, 208, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
}

.logo {
  display: inline-block;
  width: 180px;
  height: 72px;
  margin-left: -12px;
  cursor: pointer;

  background-image: url("./../../../assets/img/logo/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  transition:
    background-image 0.125s linear,
    background-size 0.25s ease;

  &:hover {
    background-image: url("./../../../assets/img/logo/logo-hover.png");
  }
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    >p {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 1px !important;
    }
}

.made-with-love {
    >p {
        font-size: 18px;
        line-height: 120%;
        font-weight: 400;
        color: #9d5977;
    }
}

.link-box {
    height: 100px;;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    >a {
        font-size: 16px;
        line-height: 120%;
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
        transition: color 0.25s ease;
        &:hover {
            color: #9d5977 !important;
        }
    }
}

.hover-dot {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hover-dot::after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #9d5977;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.25s ease;
}

.hover-dot:hover::after {
    opacity: 1;
}

