
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/EB_Garamond_Fira_Code_Inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/EB_Garamond_Fira_Code_Inter/static/FiraCode-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EB_Garamond_Fira_Code_Inter/EBGaramond-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/karla/static/Karla-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/karla/Karla-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/karla/static/Karla-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/karla/static/Karla-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/karla/static/Karla-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

.karla {
    font-family: "Karla", sans-serif;
}

.fira {
    font-family: "Fira Code", monospace;
}

.garamond {
    font-family: "EB Garamond", serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

.button {
    height: 48px;
    padding: 0 24px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    position: relative;
    overflow: hidden;
    transition: border-color 200ms ease-out;

    .button-text {
        display: inline-block;
        white-space: nowrap;
        transform: translateX(0);
        transition: color 200ms ease-out;
    }

    &:hover {
        border-color: #9d5977;
        cursor: pointer;
    }

    &:hover .button-text {
        color: #9d5977;
        animation: slide-loop 1.4s linear infinite;
    }

    &:not(:hover) .button-text {
        animation: slide-back 300ms linear forwards;
    }
}

@keyframes slide-loop {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-140%);
    }

    50.01% {
        transform: translateX(140%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-back {
    0% {
        transform: translateX(-140%);
    }

    100% {
        transform: translateX(0);
    }
}